.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
    padding-top: 3rem;
}

.contact-left span {
    flex: 1;
    font-size: 2rem;
}

.contact-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.contact-right>form{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.contact-right .user {
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border: 2px solid var(--red);
    border-radius: 8px;
    font-size: 16px;
}

textarea{
    height: 4rem!important;
}

.contact-blur1{
    top: 1rem;
    left: 8rem;
}