.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    
}

.intro-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.intro-name{
    display: flex;
    flex-direction: column;
}

.intro-name>:nth-child(1){
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

.intro-name>:nth-child(2){
    color: var(--red);
    font-weight: bold;
    font-size: 3rem;
}

.intro-name>:nth-child(3){
    font-weight: 100;
    font-weight: 14px;
    color: var(--gray);
    margin-top: 10px;
}

.intro-button{
    width: 6rem;
    height: 2rem;
}

.intro-icons{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    margin-left: 1rem;
}

.intro-icons>img:hover {
    cursor: pointer;
}

.intro-right{
    flex: 1;
    position: relative;
}

.intro-right>*{
    position: absolute;
    z-index: 1;
}

.intro-right>:nth-child(1){
    transform: scale(0.69);
    left: -34%;
    top: -46%;
}

.intro-right>:nth-child(2){
    top: -47%;
    transform: scale(0.67) rotate(-22deg);
    left: -10rem;
}

.intro-right>:nth-child(3){
    transform: scale(0.57) rotate(40deg);
    top: -47%;
    left: -11.4rem;
}

.blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: -9;
    top: -18%;
    left: 56%;
    filter: blur(72px);
}
