:root{
    /* red
        lighter red
        black
        white
    */
    --red: #C21807;
    --black: #242D49;
    --white: rgba(255, 255, 255, 0.761);
    --gray: #787878;
    --box-shadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --small-box-shadow: -79px 51px 60px rgba(0,0,0,0.08);
}

.App{
    padding: 1rem 2.5rem 0.5rem 3.5rem;
    overflow: hidden;
    color: black;
}

body {
    background-color: var(--white);
}

.button{
    border-radius: 15px;
    box-shadow: 0px 20px 24px 3px rgba(194,24,7, 0.42);
    border: none;
    background-color: var(--red);
    color: white;
    font-size: 16px;
    padding: 10px 26px 10px 26px;
}

.button:hover{
    cursor: pointer;
    background-color: var(--red);
}





